fastapi
uvicorn
python-dotenv

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-google-genai

chromadb
sentence-transformers

pypdf
beautifulsoup4
requests

python-multipart

pydantic

bs4
